<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block login %}
    <div style="background-color: bisque">
    {% if request.user.is_authenticated and not user.is_superuser %}
        <a href="{% url 'logout' %}">___Log out___</a>
        <a href="{% url 'shopping' %}">___Go shopping___</a>
        <a href="{% url 'purchases' %}">___Look my purchases___</a>
    {% endif %}
    {% if user.is_anonymous %}
        <a href="{% url 'login' %}">___Log in___</a>
        <a href="{% url 'registration' %}">___Registration___</a></a>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="{% url 'logout' %}">___Log out___</a>
        <a href="{% url 'goods_add' %}">___Add goods___</a>
        <a href="{% url 'shopping' %}">___Look goods___</a>
        <a href="{% url 'goods_return' %}">___Look goods for return___</a>
    {% endif %}
    <br>
    </div>
{% endblock login %}
{% block user %}
    {% if user.is_authenticated and not user.is_superuser %}
        You have {{ user.wallet }} hrn in your pocket)
    {% endif %}
    <br>
{% endblock user %}
<br>
{% block messages %}
    {% if messages %}
<ul class="messages" style="background-color: aqua">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message.tags }}: {{ message }} <br>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock messages %}
{% block content %}
{% endblock content %}
</body>
</html>